
<!doctype html>
<html>
  <head>
    <title>List  webpage!</title>
  </head>
        <body>
	 <% recipe.forEach(function(recipe){ %>
         <h3><%= recipe.user %></h3><br>
	 <h1><%= recipe.name %></h1><br>
	 <h2>Cooking time: <%= recipe.time %></h2><br>
	 <p>ingredients: <br><%= recipe.ingredients %></p><br>
	 <p>directions: <br><%= recipe.directions %></p><br>
         <% }) %>
         <a href='./'>Home</a>
        </body>
</html>
