<!doctype html>
<html>
  <head>
    <title>List  webpage!</title>
    <% if(user.accType == "organisation") { %> 
      <link rel="stylesheet" href="/styles/organisation.css">
    <% } else {%> 
      <link rel="stylesheet" href="/styles/personal.css">
    <% } %> 
    <link rel="stylesheet" href="/styles/swup.css">
    <script src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>  
    <script defer src="/script.js"></script>
  </head>
<body>
  <header>
    <h1><a id=title href='../'>HumbleStumble</a></h1>
    <% if(user.accType == "organisation") { %> 
      <div id="menu">
        <a href='/organisation/add_listing'>Add Listing</a>
        <a href='/organisation/list'>Your Listings</a>
        <a href='/display_usr_acc'>Account</a>
      </div>
    <% } else {%>
      <div id="menu">
        <a href='/personal/list'>Your Listings</a>
        <a href='/display_usr_acc'>Account</a>
      </div>
    <% } %> 
  </header>
  <main id="swup" class="transition-fade">
    <form action="/search_listing" method="POST">
      <input id="search-box" type="text" name="keyword" value="Default">
      <input class="button" type="submit" value="OK" >
    </form>
    <p>This is a list of all available opportunities</p>
    <ul>
      <% listing.forEach(function(listing){ %>
        <li> 
          <a href="../display_listing?id=<%= listing._id %>"><%= listing.title %></a>
          <%= listing.organisation %> 
          <% if(user.accType == "organisation") { %> 
            <a href="/organisation/update_listing?id=<%= listing._id %>"> Update </a> 
            <a href="/organisation/delete?id=<%= listing._id %>"> Delete </a> 
          <% } else {%> 
            <a href="/personal/accept_listing?id=<%= listing._id %>"> Accept </a>
          <% } %> 
        </li>
      <% }) %>
    </ul>
  </main>
</body>
</html>
