<html>
        <head>
                <title>update recipe</title>
        </head>
        <body>
        <h1> Add Listing </h1>
                <% if (error != null) { %>
                        
                        <script type="text/javascript">
                                window.alert(<%-JSON.stringify(error.errors[0].msg)%> + ' at ' + <%-JSON.stringify(error.errors[0].param)%>)
                        </script>
                <% } %>
                <% if (update) { %>
                        <form method="POST" action="/organisation/listing_update_post?title=<%= listing.title %>">
                                Title: <br> <input id="title" type="text" name="title" value="<%= listing.title %>"> <br>
                                Location: <br> <input id="location" type="text" name="location" value="<%= listing.location %>"> <br>
                                Description: <br> <textarea id="description" name="description"><%= listing.description %></textarea> <br>
                                <input type="submit" value="submit" />
                <% } else { %>
                        <form method="POST" action="/organisation/listing_post">
                                Title: <br> <input id="title" type="text" name="title" > <br>
                                Location: <br> <input id="location" type="text" name="location"> <br>
                                Description: <br> <textarea id="description" name="description"></textarea> <br>
                                <input type="submit" value="submit" />
                        </form>
                <% } %>
                <a href='../'>Home</a>
        </body>
</html>
