<!doctype html>
<html>
  <head>
    <title>List  webpage!</title>
  </head>
    <h1> This is List Page </h1>
          <body>
            <h3>You can see names and prices of all available recipes here:</h3>
            <ul>
              <% listing.forEach(function(listing){ %>
              <li> <a href="/organisation/display?topic=<%= listing.title %>"><%= listing.title %> </a>, <%= listing.organisation %>  <a href="/organisation/add-listing?topic=<%= recipe.name %>"> Update </a> <a href="/organisation/delete?topic=<%= listing.title %>"> Delete </a> </li>
             <% }) %>
            </ul>
		<a href='./'>Home</a>
            </body>
</html>
